*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Cabin', Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    max-width: 100%;
}

h1 {
    font-family: 'Lemonada', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
    padding: 10px;
    background-color: #7abad3;
    margin: 0 auto;
}

h2 {
    font-family: 'Lemonada', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    line-height: 1.5em;
    /* padding-top: 20px; */
}

p {
    font-size: 18px;
    line-height: 1.4em;
    text-align: center;
}

em {
    font-weight: 600;
    font-size: 1.2em;
    color: rgb(131, 71, 71);
}

strong {
    font-weight: 700;
    font-size: .9em;
    color: rgb(124, 37, 37);
}


li {
    margin-bottom: 20px;
    list-style: none;
}

ul {
    padding: 0;
}


img {
    display: block;
    max-width: 80%;
    height: auto;
    margin: 0 auto;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
}

.main {
    margin: 0 auto;
    width: 100%;
}

.hero { 
    background-color: #7abad3;
    margin: 0 auto;
    padding: 30px;
}

.container {
    margin: 0 auto;
    padding: 30px;
    line-height: 1.5em;
}

.section-one {
    margin: 0 auto;
}

.section-two {
    background-color: #7abad3;
    margin: 0;
}

#tribute-link {
    width: 20%;
}




@media (min-width: 400px) {

    body {
        /* text-align: left; */
        width: 100%;
        margin: 0 auto;
    }

    p {
        text-align: center;
    }

    .hero {
        display: block;
    }

    #tibute-info {
        padding: 0 20px;
    }

    .hero-title h2 {
        font-size: 2rem;
        line-height: 1.5em;

    }

    h2 {
        margin: 0;
        line-height: 1;
        /* text-align: left; */
    }

    p {
        font-size: 1.2rem;
    }

    /* img {
        max-width: 80%;
    } */

    .container {
        /* display: flex;
        justify-content: space-between;         */
        margin: 0 auto;
        width: 100%;
        padding: 60px;

    }

    .section-one-text {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px 0;
    }
    .section-one ul {
        text-align: center;
        padding: 20px 0 0;
        margin: 0;
        width: 100%;
        line-height: 1;
    }

    .section-two-text {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }
    .section-two ul {
        text-align: left;
        margin: 0;
        padding: 0 10px;
        width: 48%;
    }

    .thanks p {
        text-align: center;
        font-size: 1.3em;
    }

    .footer h2 {
        text-align: center;
        margin-bottom: 20px;
    }





  







}
